{% extends "store/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Your Orders</h2>

    {% if orders %}
        {% for order in orders %}
            <div class="orders-list">
                <p><strong>Total:</strong> ${{ order.total_price }}</p>
                <p><strong>Date:</strong> {{ order.created_at }}</p>
                <a class="btn" href="{% url 'delete_order' order.id %}" onclick="return confirm('Are you sure you want to delete this order?');">Delete</a>
            </div>
        {% endfor %}
    {% else %}
        <p>You have no orders yet.</p>
    {% endif %}
</div>
{% endblock %}